<ion-view view-title="Chat">
    <ion-nav-buttons side="right">
        <img class="redondo" ng-src={{fotoEmpleado}} width="35" height="35">
        <label class="avatar" style=" margin-left:10px;">
            <font size="2" color="White"> {{nombreEmpleado}}
        </label>
    </ion-nav-buttons>
    <ion-content class="content-stable" ng-init="mostrarChat()">
        <div ng-repeat="mensaje in mensajes" item="mensajes" class="messages">
            <div class="message">
                <a style="font-size: 10px; color: #000000">{{mensaje.de}}</a><br />
                <h5>
                {{ mensaje.mensaje }}
                <br />
                <a style="font-size: 10px; color: #000000">{{mensaje.fecha}}</a>
               </h5>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset inputChat">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Escribir mensaje" on-return="sendMessage();closeKeyboard()" ng-model="mensaje.mensaje" on-focus="inputUp()" on-blur="inputDown()" />
        </label>
        <a class="button button-stable icon ion-paper-airplane" ng-click="enviar()"></a>
    </ion-footer-bar>
</ion-view>
