/* Empty. Add your own CSS if you like */

.redondo {
    border: 2px solid grey;
    margin: 0;
    padding: 0;
    border-radius: 800px;
    overflow: hidden;
}

#map {
    width: 80%;
    height: 50%;
    right: 10%;
    left: 10%;
}

.avatar {
	  display: block;
}

.scroll{
    height: 100%
}

.background{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center center; 
}

.centrado {
    position: relative;
  top: 30%; 
}

.botonRedondeado{
    border-radius:-2px -2px -2px -2px;
}